body{
    width: 96.3%;
}
#elsosor li{
    display: inline;
    margin-right: 40px;
}
#elsosor a{
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#elsosor a:hover {text-decoration: underline; text-decoration-thickness: 3px; text-decoration-color:green ; }
div {
    width: 100%;
    margin: 0px auto;
    background-color: #ffffff;
    
}
#cimek{
    margin-top: 20px;
}
#vonal{
    border-top: 1px solid black;
    width: 103%;

}
#SneakElite{
    font-family: 'Courier New', Courier, monospace;
  border-right: 5px solid black;
  padding-top: 20px;
  padding-bottom: 14px;
  padding-right: 10px;
  text-align: left;
margin-left: -20;
}
#szin{
    color: green;
    font-weight: bold;
}
.gomb{
    text-decoration: none;
    display: inline;
    
}
#belepes{
    float: right;
    
}
button{
    font-size: large;
    border-radius: 5px;
    border-color: green;
    padding: 7px;
    color: white;
background-color: green;
margin-top: -12px;
margin-left: -5px;
}
#kozepszoveg{
    text-align: left;
    font-size: calc(1rem + 1.0vw);
    font-weight: 300;
    line-height: 1.2;
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
#kisszoveg{
    font-size: 30px;  
    color: green;
}
#video{
    float: right;
 margin-top: 60px;
}

#reg{
    margin-right: -60px;
}